h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
    margin: 0px;
}

body,
p {
    margin: 0px;
}

ul {
    padding: 0px;
    margin: 0px;
    list-style: none;
}

a {
    text-decoration: none;
}

div {
    box-sizing: border-box;
}

input,
button {
    outline: none;
    box-sizing: border-box;
    border: none;
}